> div {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid rgb(var(--bg));
  width: 100%;
  background: linear-gradient(to right, rgba(var(--error), .2), transparent);

  @media (max-width: 767px) {
    flex-wrap: wrap;

    aside {
      width: 100%;
      margin: 20px 0 10px;
    }
  }

  span {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(var(--bg));
  }
}
